{% if now_playing %}
    {% if now_playing.video %}
        <script type="text/javascript">
            function play() {
                if(ytplayer) {
                    // show the player
                    $("#player").show();
                    // start the video (if not playing(1) and not buffering(3))
                    if( ytplayer.getPlayerState() != 1 && ytplayer.getPlayerState() != 3 ) {
                        ytplayer.loadVideoById("{{ now_playing.video.videoId }}", {{ now_playing.video.start }}, "hd720");
                    }
                }
            }
            play();
           </script>
    {% else %}
        {% if now_playing.image %}
            <img src="{{ now_playing.image}}" class="now_playing" /><br />
        {% endif %}
    {% endif %}
    <img src="{{ MEDIA_URL}}spectrum-analyzer.gif" /> {{ now_playing.artist}} - {{ now_playing.title }} ♪♫<br />
{% else %}
    <img src="{{ MEDIA_URL}}no_music_makes_me_sick_by_sakgaa.jpg" /><br />
    :[
{% endif %}
